@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Midday Marketplace</h1>
    <p class="m-4">
        Welcome to the Midday Marketplace!<br />
        A site used to sell items locally.
    </p>
</div>
