@model List<MarketItem>
@{
    ViewData["Title"] = "Marketplace Page";
}

<div class="text-center">
    <h1 class="display-2">Marketplace</h1>
    <p class="m-4">
        Welcome to the Marketplace!<br />
        Where all the current items are listed.
    </p>
    <!--
        Takes the user to page the is used to post a
        item, to be saved to the database.
    -->
    <a href="/Marketplace/Post" class="btn btn-success">Post (Click to List An Item)</a>
</div>
<!--
    A form that sends the inputted info
    to the MarketplaceController Filter method,
    where it grabs only the records that match
    the inputted info to then be displayed
    on the Index page.
-->
<hr />
<strong>Filters for the list of Items</strong>
<form method="post" action="/Marketplace/Filter" class="container">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="row p-2">
                <label for="lister" class="col-md-2 control-label"><strong>Lister Name:</strong></label>
                <input name="lister" class="col-md-9 form-control" />
            </div>
            <div class="row p-2">
                <label for="itemName" class="col-md-2 control-label"><strong>Item Name:</strong></label>
                <input name="itemName" class="col-md-9 form-control" />
            </div>
            <div class="row p-2">
                <label for="DeliveryType" class="col-md-2 control-label"><strong>Delivery Type:</strong></label>
                <select name="DeliveryType" class="col-md-9 form-control">
                    <option value=""></option>
                    <option value="Pick Up">Pick Up</option>
                    <option value="Deliver">Deliver</option>
                    <option value="Mail">Mail</option>
                </select>
            </div>
            <div class="row p-2">
                <button type="submit" class="col-3 form-control btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</form>
<div class="text-center">
    <h1 class="display-4">List of Items</h1>
    <hr />
    <!--
        if clause where if there isn't any message in the list
        then displayed it will have "There isn't any messages." be displayed.
    -->
    @if (Model.Count != 0)
    {
        foreach (MarketItem marketItem in Model)
        {
            <!--
                This being filled with the fields of the current MarketItem
                object from the foreach loop returned from the database.
             -->
            <div class="container">
                <strong>Lister Name:</strong> @marketItem.Lister.UserName<br />
                <strong>Item Name:</strong> @marketItem.ItemName<br />
                <strong>Item Price:</strong> @marketItem.ItemPrice.ToString("0.00")<br />
                <strong>Delivery Type:</strong> @marketItem.DeliveryType<br />
                <!--
                    Takes you to Item page that has more info on the
                    this item that has the related MarketItemId.
                -->
                <a href="/Marketplace/Item?value=@marketItem.MarketItemId">Inspect</a>
            </div>
            <hr />
        }
    }
    else
    {
        <p>There isn't any items.</p>
    }
</div>
