@{
    ViewData["Title"] = "Post Page";
}

<div class="text-center">
    <h1 class="display-2">"Post"</h1>
    <p class="m-4">
        Welcome to the post page!<br />
        Where you can list an item for sale.
    </p>
</div>
<div class="container col-md-7" style="border:1px solid">
    <p class="col-mt-3">
        <!-- 
        <div class="row p-2">
            <label asp-for="" class="col-md-2 control-label">Sender</label>
            <input asp-for="" class="col-md-9 form-control" />
        </div>-->
       
        
        <strong>Item Price:</strong><br />
        <strong>Lister Name:</strong><br />
        <strong>Item Negotiate:</strong><br />
        <strong>Item Delivery Type:</strong><br />
        <strong>Item Sale By Date:</strong><br />
        <br />
        <strong>Street Address:</strong><br />
        <strong>City:</strong><br />
        <strong>State:</strong><br />
        <strong>Zip Code:</strong><br />
        <strong>Country:</strong><br />
    </p>
    <div class="row p-2">
        <button type="submit" class="form-control btn btn-success w-25">Buy</button>
    </div>
</div>